api.primewebdev.in {
    reverse_proxy backend:3000
}

mysql.primewebdev.in { 
    # Basic Auth
        basicauth /* {
            azzunique $2a$14$dJbK3ZQ5qsZi0EgQly3s3eV0yC63X.S0wD4ML4plR/XOfuYYJNHSu
        }

    reverse_proxy phpmyadmin:80
}
